CONFIG_ESP_MAIN_TASK_STACK_SIZE=3000
CONFIG_ESP_TASK_WDT=n
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
# ILI9488 uses 18 bit color mode and requires 16bit LVGL color depth.
CONFIG_LV_COLOR_DEPTH_16=y


